body{

}
.dataTables_wrapper .destroy {
    font-family: FontAwesome, 'Source Sans Pro';
}

.toast-title {
    font-weight: 700;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #fff;
}

.toast-message a:hover {
    color: #ccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -.3em;
    top: -.3em;
    float: right;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    -ms-filter: alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.toast-close-button:focus,
.toast-close-button:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    -ms-filter: alpha(Opacity=40);
    filter: alpha(opacity=40);
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
}

#toast-container * {
    box-sizing: border-box;
}

#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: .8;
    -ms-filter: alpha(Opacity=80);
    filter: alpha(opacity=80);
}

#toast-container >:hover {
    box-shadow: 0 0 12px #000;
    opacity: 1;
    -ms-filter: alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

#toast-container > .toast-info {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=) !important;
}

#toast-container > .toast-error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=) !important;
}

#toast-container > .toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
}

#toast-container > .toast-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=) !important;
}

#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
    width: 300px;
    margin: auto;
}

#toast-container.toast-bottom-full-width > div,
#toast-container.toast-top-full-width > div {
    width: 96%;
    margin: auto;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-info {
    background-color: #2f96b4;
}

.toast-warning {
    background-color: #f89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
    opacity: .4;
    -ms-filter: alpha(Opacity=40);
    filter: alpha(opacity=40);
}

@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -.2em;
        top: -.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}


/* ----------------
  ADMIN PROFILE IMAGE UPLOAD
   */

.skin-blue .profileInput {
    border: 1px solid #d2d6de;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 35px;
    cursor: pointer;
    color: #d2d6de;
    border-radius: 3px;
    -webkit-transition: all .25s ease-in-out 0s;
    -o-transition: all .25s ease-in-out 0s;
    transition: all .25s ease-in-out 0s;
}

.skin-blue .profileInput:hover {
    color: #3C8DBC;
    border-color: #3C8DBC;
}

.skin-blue .uploadButton {
    font-size: 20px;
}

.skin-blue .profileInput input {
    opacity: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
}


/*license view css*/

.fancybox {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    display: inline-block;
    height: 150px;
    margin-right: 10px;
    position: relative;
    width: 150px;
}

#licenseDeleteButton {
    background: #2f2f2f none repeat scroll 0 0;
    border: 2px solid #949393;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    height: 25px;
    line-height: 20px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    width: 25px;
    cursor: pointer;
}


/***********image and video section of backend panel ****************/

#loadmore-pagination a {
    color: #fff;
}

#loadmore-pagination a:hover {
    color: #fff;
}

#images .thumbnail,
#videos .thumbnail,
#license .thumbnail {
    position: relative;
    overflow: visible;
    /*  height:150px;
   border-width: 2px;
border-style: dashed; */
}

.gallery-list #galleryDeleteButton,
.gallery-list #videoDeleteButton {
    background: #2f2f2f none repeat scroll 0 0;
    border: 2px solid #949393;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    height: 25px;
    line-height: 20px;
    position: absolute;
    right: -11px;
    text-align: center;
    top: -12px;
    width: 25px;
}

.gallery-list #galleryCaptionEditBtn,
.gallery-list #videoCaptionEditBtn {
    background: rgba(47, 47, 47, 0.70);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    height: 34px;
    line-height: 34px;
    position: absolute;
    text-align: center;
    width: 34px;
    bottom: 0;
}

.gallery-list #galleryCaptionEditForm,
.gallery-list #videoCaptionEditForm {
    position: absolute;
    bottom: 0;
}

.caption-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34px;
    overflow: hidden;
}

#images .gallery-list {
    padding-top: 30px;
    /*overflow: hidden;*/
}

.tab-content #images .thumbnail,
.tab-content #videos .thumbnail {
    /*   border:none;
  padding: 0; */
}

#images .fancybox,
#videos .fancybox {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.tab-content #videos .gallery-list .video {
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    display: inline-block;
    height: 150px;
    position: relative;
    width: 100%;
}

.btn-social.btn-lg > *:first-child {
    font-size: 20px;
}

#images .gallery-list #galleryCaptionEditForm,
#videos .gallery-list #videoCaptionEditForm {
    left: 0;
    right: 0;
}

#images #galleryCaptionEditForm button[type="submit"],
#videos #videoCaptionEditForm button[type="submit"] {
    border: medium none;
    height: 34px;
    width: 25%;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ccc;
}

#images #galleryCaptionEditForm .form-control,
#videos #videoCaptionEditForm .form-control {
    float: left;
    width: 75%;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
}

#videos .thumbnail {
    /*    background: #efefef; */
}

.browse-image .galleryUploadButton,
.bg-image > .galleryUploadButton {
    height: 40px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 40px;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.browse-image .galleryUploadButton .uploadButton,
.bg-image > .galleryUploadButton .uploadButton {
    font-size: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    color: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.browse-image .galleryUploadButton .uploadButton i {
    margin-right: 0;
}

.browse-image .galleryUploadButton input[type="file"] {
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
}


/*Backend Multiselect*/


/* multiselect css */

.SumoSelect p {
    margin: 0;
}

.SumoSelect {
    width: 200px;
}

.SelectBox {
    padding: 5px 8px;
}


/* Filtering style */

.SumoSelect .hidden {
    display: none;
}

.SumoSelect .search-txt {
    display: none;
    outline: none;
}

.SumoSelect .no-match {
    display: none;
    padding: 6px;
}

.SumoSelect.open .search-txt {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 8px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.SumoSelect.open>.search>span,
.SumoSelect.open>.search>label {
    visibility: hidden;
}


/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */

.SelectClass,
.SumoUnder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.SelectClass {
    z-index: 1;
}

.SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont,
.SumoSelect .select-all > label {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.SumoSelect {
    display: inline-block;
    position: relative;
    outline: none;
}

.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont,
.SumoSelect.open > .CaptionCont {
    box-shadow: 0 0 2px #7799D0;
    border-color: #7799D0;
}

.SumoSelect > .CaptionCont {
    position: relative;
    border: 1px solid #A4A4A4;
    min-height: 14px;
    background-color: #fff;
    border-radius: 2px;
    margin: 0;
}

.SumoSelect > .CaptionCont > span {
    display: block;
    padding-right: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}


/*placeholder style*/

.SumoSelect > .CaptionCont > span.placeholder {
    color: #ccc;
    font-style: italic;
}

.SumoSelect > .CaptionCont > label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
}

.SumoSelect > .CaptionCont > label > i {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
    background-position: center center;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.SumoSelect > .optWrapper {
    display: none;
    z-index: 1000;
    top: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    overflow: hidden;
}

.SumoSelect.open > .optWrapper {
    top: 35px;
    display: block;
}

.SumoSelect.open > .optWrapper.up {
    top: auto;
    bottom: 100%;
    margin-bottom: 5px;
}

.SumoSelect > .optWrapper ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.SumoSelect > .optWrapper > .options {
    border-radius: 2px;
    position: relative;
    /*Set the height of pop up here (only for desktop mode)*/
    max-height: 250px;
    /*height*/
}

.SumoSelect > .optWrapper > .options li.group.disabled > label {
    opacity: 0.5;
}

.SumoSelect > .optWrapper > .options li ul li.opt {
    padding-left: 22px;
}

.SumoSelect > .optWrapper.multiple > .options li ul li.opt {
    padding-left: 50px;
}

.SumoSelect > .optWrapper.isFloating > .options {
    max-height: 100%;
    box-shadow: 0 0 100px #595959;
}

.SumoSelect > .optWrapper > .options li.opt {
    padding: 6px 6px;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.SumoSelect > .optWrapper > .options > li.opt:first-child {
    border-radius: 2px 2px 0 0;
}

.SumoSelect > .optWrapper > .options > li.opt:last-child {
    border-radius: 0 0 2px 2px;
    border-bottom: none;
}

.SumoSelect > .optWrapper > .options li.opt:hover {
    background-color: #E4E4E4;
}

.SumoSelect > .optWrapper > .options li.opt.sel {
    background-color: #a1c0e4;
    border-bottom: 1px solid #a1c0e4;
}

.SumoSelect > .optWrapper > .options li label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

.SumoSelect > .optWrapper > .options li span {
    display: none;
}

.SumoSelect > .optWrapper > .options li.group > label {
    cursor: default;
    padding: 8px 6px;
    font-weight: bold;
}


/*Floating styles*/

.SumoSelect > .optWrapper.isFloating {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    bottom: 0;
    margin: auto;
    max-height: 90%;
}


/*disabled state*/

.SumoSelect > .optWrapper > .options li.opt.disabled {
    background-color: inherit;
    pointer-events: none;
}

.SumoSelect > .optWrapper > .options li.opt.disabled * {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}


/*styling for multiple select*/

.SumoSelect > .optWrapper.multiple > .options li.opt {
    padding-left: 35px;
    cursor: pointer;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    margin-left: -35px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt span i,
.SumoSelect .select-all > span i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #AEAEAE;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.SumoSelect > .optWrapper > .MultiControls {
    display: none;
    border-top: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
    border-radius: 0 0 3px 3px;
}

.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
    display: block;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
    display: block;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
    padding: 6px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p {
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover {
    background-color: #f1f1f1;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
    border-right: 1px solid #DBDBDB;
    border-radius: 0 0 0 3px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
    border-radius: 0 0 3px 0;
}


/*styling for select on popup mode*/

.SumoSelect > .optWrapper.isFloating > .options li.opt {
    padding: 12px 6px;
}


/*styling for only multiple select on popup mode*/

.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
    padding-left: 35px;
}

.SumoSelect > .optWrapper.multiple.isFloating {
    padding-bottom: 43px;
}

.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i {
    background-color: rgb(17, 169, 17);
    box-shadow: none;
    border-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: center center;
}


/*disabled state*/

.SumoSelect.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.SumoSelect.disabled > .CaptionCont {
    border-color: #ccc;
    box-shadow: none;
}


/**Select all button**/

.SumoSelect .select-all {
    border-radius: 3px 3px 0 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 8px 0 3px 35px;
    height: 20px;
    cursor: pointer;
}

.SumoSelect .select-all > label,
.SumoSelect .select-all > span i {
    cursor: pointer;
}

.SumoSelect .select-all.partial > span i {
    background-color: #ccc;
}


/*styling for optgroups*/

.SumoSelect > .optWrapper > .options li.optGroup {
    padding-left: 5px;
    text-decoration: underline;
}


/*styling for required*/

.form-group.required .control-label::after {
    color: red;
    content: "*";
    margin-left: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/* user management */

.addguide {
    margin: 10px 0;
}

.gallery-list {
    clear: both;
    /*   padding: 10px;
margin-top: 20px; */
}

.gallery-list .thumbnail {
    width: 160px;
    height: 160px;
    float: left;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 40px;
}

.gallery-list #galleryDeleteButton,
.gallery-list #videoDeleteButton {
    font-size: 16px;
    padding: 0;
}

.checkbox.chkbox {
    /*   padding-left: 20px; */
}

.nav-tabs-custom > .tab-content {
    overflow: hidden;
}

#videos,
#license {
    padding-top: 20px;
}

#license #mylicenseForm {
    clear: both;
}

#images .imagesUploadArea,
#videos .imagesUploadArea,
#license .imagesUploadArea {
    height: 160px;
    width: 160px;
    float: left;
}

#images .imagesUploadArea .thumbnail,
#videos .imagesUploadArea .thumbnail,
#license .imagesUploadArea .thumbnail {
    height: 160px;
    width: 160px;
}

#images .imagesUploadArea .thumbnail,
#videos .imagesUploadArea .thumbnail,
.imagesUploadArea .thumbnail {
    border-width: 2px;
    border-style: dashed;
    border-color: #ddd;
}

#license .row,
#videos .row,
#images .row {
    margin-left: 0;
    margin-right: 0;
}

#license [class^="col-"],
#license [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

#license .gallery-list .thumbnail,
#videos .gallery-list .thumbnail,
#images .gallery-list .thumbnail {
    margin-right: 20px;
}

#license .imagesUploadArea .imglicloader,
#videos .imagesUploadArea .imglicloader,
#images .imagesUploadArea .imglicloader {
    background: #fff;
    height: auto;
    left: 0;
    line-height: 100%;
    padding: 66px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.chosen-container-multi .chosen-choices {
    background-image: none !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    height: 34px !important;
    padding: 3px 12px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}

#booking .ui-datepicker {
    width: 100%;
}

#booking .demo {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto;
}

#booking .demo .box {
    border: none;
}

#booking .demo .ui-widget-content {
    background: #fcfcfc;
    border: 1px solid #ddd;
    color: #1f1f1f;
}

#booking .ui-corner-all {
    border-radius: 0;
}

#booking .ui-datepicker td span,
#booking .ui-datepicker td a {
    padding: 1em;
}

#booking .ui-state-hover,
#booking .ui-widget-content .ui-state-hover,
#booking .ui-widget-header .ui-state-hover,
#booking .ui-state-focus,
.ui-widget-content #booking .ui-state-focus,
.ui-widget-header #booking .ui-state-focus {
    background: #444;
    border: 1px solid #654b24;
    color: #fff;
}

#booking td.ui-state-highlight {
    background: transparent;
    border: none;
    padding: 0;
}

#booking .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #0067b0 none repeat scroll 0 0;
}

.nav-tabs-custom {
    margin-top: 40px;
}

#images #images-list label {
    /*  padding-left: 0; */
    font-size: 13px;
    line-height: 21px;
}

.btmsave .col-md-12 {
    padding: 10px 0;
}

.btmsave .pull-right {
    float: left !important;
}

.radioconsistency .radio label {
    padding-left: 0;
}

.radioconsistency input[type="radio"] {
    left: inherit !important;
    opacity: 1 !important;
    position: inherit !important;
    top: inherit !important;
    width: auto !important;
    height: auto !important;
    margin: -5px 0 0 0 !important;
}

.radioconsistency .iCheck-helper {
    display: none !important;
}

.radioconsistency .icheckbox_square-blue,
.radioconsistency .iradio_square-blue {
    background: none;
    width: auto;
    height: auto;
}

.box-body.box-profile .profile-user-img {
    height: 100px !important;
}

.btn-social.btn-lg {
    padding-left: 12px;
}


/*  Custom css Added
------------------------*/

.sidebar-mini h1 {
    text-align: left;
}

.sidebar-mini h1 > small {
    display: none;
}

.btn-orange {
    background: #f89939;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    padding: 8px 20px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-orange:hover {
    background-color: #FFA949;
    color: #fff;
}

.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover {
    background-color: #e88929;
}

.skin-blue .main-header .navbar {
    background-color: #f89939;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #ffa949;
    text-decoration: none;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #666;
}

.content-wrapper,
.right-side {
    background: #f8f8f8;
}

.skin-blue .sidebar-menu > li.header {
    background: #5d5d5d none repeat scroll 0 0;
    color: #ddd;
}

.skin-blue .sidebar a {
    color: #fff;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
    background: #6d6d6d none repeat scroll 0 0;
    border-left-color: #f89939;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #7d7d7d;
}

.skin-blue .treeview-menu > li > a {
    color: #ffffff;
}


/* -- Slides Management -- */

.sidebar-mini form {
    background-color: #fff;
    padding: 15px;
}

.sidebar-mini form input[type="text"],
.sidebar-mini form input[type="email"] {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar-mini form .thumbnail {
    border: none;
    background: transparent;
    padding: 0;
    margin-bottom: 0;
}

.sidebar-mini form .thumbnail .fancybox {
    width: 100%;
    height: 230px;
    margin-right: 0;
    display: block;
}

.slider-form .caption input[type="textarea"],
.slider-edit .caption input[type="textarea"] {
    height: 80px;
}
.slider-form select[name*="link"],
.slider-edit select[name*="link"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none;
    padding: 10px;
    width: 400px;
}
.slider-form strong,
.slider-edit strong{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


.slider-form .btn-orange {
    display: block;
}

.sidebar-mini form .caption input {
    width: 400px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slider-edit .btn-file,
.slider-form .btn-file {
    margin-bottom: 15px;
}

.dataTables_wrapper .table-responsive {
    clear: both;
    overflow: hidden;
    border-right: 1px solid #ccc;
}

.dataTables_wrapper .table td > ul a > i {
    margin-right: 8px;
}

.dataTables_wrapper .table td > ul a.btn-warning > i {
    margin-right: 0;
}


/* pagination */

.sidebar-mini .dataTables_wrapper .dataTables_paginate a.paginate_button {
    border: 1px solid #ccc;
    margin-left: -1px;
}

.sidebar-mini .dataTables_wrapper .dataTables_paginate a.paginate_button.first {
    border-radius: 3px 0 0 3px;
}

.sidebar-mini .dataTables_wrapper .dataTables_paginate a.paginate_button.last {
    border-radius: 0 3px 3px 0;
}


/*
.sidebar-mini .dataTables_wrapper .dataTables_paginate span a.paginate_button{
  margin-left: -5px;
}
*/

.sidebar-mini .dataTables_wrapper .dataTables_paginate span a.paginate_button:first-child {
    margin-left: -1px;
}

.sidebar-mini .dataTables_wrapper .dataTables_paginate > a.paginate_button:hover {
    border-color: #ccc;
}

.sidebar-mini .dataTables_wrapper .dataTables_paginate > a.paginate_button:hover,
.sidebar-mini .dataTables_wrapper .dataTables_paginate > a.paginate_button:focus,
.sidebar-mini .dataTables_wrapper .dataTables_paginate > a.paginate_button:active {
    outline: none;
}


/*--Browser button --*/

.browse-btn {
    border-radius: 3px;
    margin-bottom: 15px;
}
.browse-btn.large{
    width: 400px;
    height: 150px;
    line-height: 145px;
    border: 2px dashed #c9c9c9;  
    text-align: center; 
}

.btn.btn-file {
    /*  
    padding: 0;
    width: 400px;
    height: 50px;
    line-height: 50px; 
    background:transparent;
    border-style: dashed;
    border-color: #c9c9c9;
    color: #898989;
    font-size: 18px;
    border-radius: 4px !important; 
*/
    padding: 8px 20px;
    background: #6D6D6D;
    border: none;
    border-radius: 4px !important;
    font-size: 16px;
    margin: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn.btn-file i {
    margin-right: 10px;
}

.btn.btn-file:active,
.btn.btn-file:focus,
.btn.btn-file:hover {
    background: #5D5D5D;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: transparent;
    text-shadow: 2px 2px 1px #000;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
    -webkit-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
}


/*--End browse---*/


/* -- SETTING MANAGEMENT -- */


/* Upload button */

.logoUpload .btn.btn-file {
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 36px;
}

.form-setting #uploadLogo {
    float: left;
    padding-left: 10px;
    height: 40px;
    margin-right: 10px;
    width: 250px;
}

.form-setting .logoUpload {
    margin: 15px 0;
}

.dataTable .list-inline form {
    padding: 0;
}

.dataTable .btn {
    padding: 5px 10px;
}

.edit-pageform {
    overflow: hidden;
}

.edit-pageform .btn-orange {
    margin-left: 0;
}

textarea#statcontent{
    height: 250px;
}


/*-page-management --*/

.sidebar-mini .btn-group button.dropdown-toggle,
.sidebar-mini .btn-group.addguide .btn-default {
    background: #F89939;
    border: medium none;
    padding: 8px 20px;
    color: #fff;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.sidebar-mini .btn-group.open button.dropdown-toggle,
.sidebar-mini .btn-group button.dropdown-toggle:hover,
.sidebar-mini .btn-group.addguide .btn-default:hover {
    background: #ffa949;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar-mini table.dataTable {
    border-collapse: collapse;
}

.sidebar-mini table.dataTable thead tr {
    background-color: #fff;
}

.sidebar-mini table.dataTable tbody th,
.sidebar-mini table.dataTable tbody td {
    padding-top: 6px;
    padding-top: 6px;
    vertical-align: middle;
}

.sidebar-mini .dataTables_wrapper .dataTables_length label,
.sidebar-mini .dataTables_wrapper .dataTables_filter label {
    font-weight: normal;
    margin-bottom: 10px;
}

.sidebar-mini .dataTables_wrapper .dataTables_length label select {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-mini .dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
    padding: 4px 10px;
}


/* -- page management --*/

#pagecreat,
#pageEdit {
    background: transparent;
    padding: 0;
}

#pagecreat .page-fields,
#pageEdit .page-fields {
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    line-height: normal;
}
#pageEdit .page-fields h2{
    padding: 20px 0 10px;
}

#pagecreat .page-fields .form-group,
#pageEdit .page-fields .form-group {
    line-height: normal;
}

#pagecreat .page-fields .form-group:first-child,
#pagecreat .page-fields .form-group:last-child
#pageEdit .page-fields .form-group:first-child,
#pageEdit .page-fields .form-group:last-child {
    margin-bottom: 0;
}

#pagecreat .page-fields .form-group:nth-child(2),
#pageEdit .page-fields .form-group:nth-child(2) {
    margin-top: 15px;
}

#pagecreat .page-fields.block-options,
#pageEdit .page-fields.block-options {
    padding: 0;
    background: transparent;
}

#pagecreat .page-fields.block-options > div,
#pagecreat .page-fields.block-options > div.form-group,
#pageEdit  .page-fields.block-options > div,
#pageEdit  .page-fields.block-options > div.form-group {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

#pagecreat .page-fields.block-options .static-block > h5,
#pageEdit  .page-fields.block-options .static-block > h5 {
    font-size: 16px;
    font-weight: bold;
}
#pagecreat .page-fields.block-options .static-block,
#pageEdit  .page-fields.block-options .static-block{
    padding: 0;
    background-color: transparent;
}
#pagecreat .page-fields.block-options .static-block .addmore-html,
#pageEdit  .page-fields.block-options .static-block .addmore-html{
    padding: 15px;
    margin-bottom: 15px;
    background: #fff;
    overflow: hidden;
}
#pagecreat .page-fields.block-options .addmore-html h4,
#pageEdit  .page-fields.block-options .addmore-html h4{
    margin-bottom: 15px;
    text-decoration: underline;
}
#pagecreat .browse-btn,
#pageEdit  .browse-btn{
    /*    
    border:none;
    padding: 0;
    height: auto;
    width: auto;
    line-height: normal;
    text-align: left;
    */
    margin-bottom:0;
    
}
#pagecreat .preview{
    width: 300px;
    height: 300px;
}
.ui-button {
  background: #2d2d2d none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-family: inherit;
  padding: 10px 15px;
}
#pagecreat .list-inline > li{
    margin-bottom: 10px;
}
#pageEdit  .page-fields.block-options .addmore-html .static-image,
#pagecreat  .page-fields.block-options .addmore-html .static-image{
    float: left;
    margin-bottom: 0;
}
#pageEdit  .page-fields.block-options .addmore-html .btn-danger{
    background: transparent;
    border: 1px solid #616161;
    color: #616161;
    float: right;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
#pageEdit  .page-fields.block-options .static-block .addmore-html .btn-danger:hover{
    background: #616161;
    color: #fff;
}
.page-fields .preview{
    width: 250px;
    height: 250px;
    margin-top: 15px;
}

/* -- Video Management --*/
.video-edit .thumbnail{
    margin-top: 15px;
}
.video-edit .thumbnail iframe{
    width: 100%;
    height: 250px;
    border:none;
}
ul.page-list li{
    width: 50%;
    margin-bottom: 10px;
    float: left;
    padding-right: 10px;
}
ul.page-list li:nth-child(even){
    padding-right: 0;
}
ul.page-list li label{
    margin-left: 5px;
}

/* -- PACKAGE PAGE (EDIT AND ADD)--*/
.delete-btn{
    padding:8px 15px;
    border:1px solid #2d2d2d;
    border-radius: 3px;
    color: #2d2d2d;

    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.delete-btn:hover,
.delete-btn:active,
.delete-btn:focus{
    color: #fff;
    background-color: #2d2d2d;
    outline: none;
    text-decoration: none;
}
.sidebar-mini form.package-form{
    background-color: transparent;
    padding: 0;
}
.package-form .page-fields,
.package-form #video,
.package-form #gallery,
.pagecreat .page-fields{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.package-form #video .form-group,
.package-form #gallery .form-group{
    margin-bottom: 0;
}
.package-form #static_block .addmore-html{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}
.package-form .static-image{
    float: left;
    margin-bottom: 0;
}
.package-form .delete-btn{
    float: right;
}
.package-form .browse-btn{
    margin-bottom: 0;
}

/*-- Menu Management --*/
#newModal .modal-body{
    padding: 15px;
}
#newModal .modal-body input{
    height: 34px;
}

.menu-mgmt{
    background: #fff;
    padding: 15px;
}
.menu-mgmt .lead {
    overflow: hidden;
    line-height: 34px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.sidebar-mini .menu-mgmt form{
    padding: 0;
    background-color: transparent;
}
.menu-mgmt .nested-list-content{
    height: 40px;
    background: #f7f7f7;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}
.menu-mgmt .nested-list-content a{
    color: #333;
}
.menu-mgmt .nested-list-content:hover{
    color: inherit;
}
.menu-mgmt .nested-list-handle {
  background: transparent;
  border-width: 0 1px 0 0;
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  margin: 5px 0 0 0;
  padding: 0;
  padding: 0 10px;
}
.menu-mgmt .nested-list-handle:hover{
    background:transparent;
    color: inherit;
}

.menu-mgmt .dd-item.nested-list-item > button {
  font-size: 20px;
  font-weight: normal;
  height: 40px;
  margin: 0 0 0 35px;
}
#newModal{
    padding-right: 0 !important;
}
/*-- Video Management --*/
.video-form .icheckbox_square-blue,
.ad-edit .icheckbox_square-blue,
.ads-form .icheckbox_square-blue{
    float: left;
}

.video-form label,
.ads-form label,
.ad-edit label{
    float: left;
    width: 80%;
    margin-left: 0 !important;
    padding-left: 5px;
}
/*-- Ads Management --*/
.odd td:nth-child(3),
.odd td:nth-child(3){
    width: 140px;
}
.odd td img,
.even td img{
    width: auto !important;
}
/* -- Footer --*/

.main-footer {
    margin-top: 0;
}

.navbar-custom-menu .user .dropdown-menu .user-header,
.navbar-custom-menu .user .dropdown-menu {
    background: #dcdcdc;
}

.navbar-static-top .navbar-custom-menu .user .dropdown-menu .user-header p {
    color: #6c6c6c;
}

.select-options {
    text-align: right;
    margin-bottom: 10px;
}
.no-margin{
    margin: 0;
}
.list-inline > li{
    margin-bottom: 5px;
}



/*-- CUSTOM RESPONSIVE CSS ADDED -- */

@media all and (min-width: 768px) and (max-width: 960px) {
    .dataTables_wrapper .table-responsive {
        overflow: auto;
    }
    .dataTables_wrapper .table td ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .dataTables_wrapper .table td ul li:last-child {
        margin-bottom: 0;
    }
    .sidebar-mini form.slider-edit .caption {
        margin-top: 15px;
    }
    .page-list {
        margin-top: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .dataTables_wrapper .table td ul li {
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 767px) {
    .well {
        padding: 4px;
    }
    #nestable .dd-list .dd-list {
        padding-left: 10px;
    }


    #nestable .nested-list-handle {
        width: auto;
        padding: 0 4px;
        line-height: 30px;
    }
    #nestable .nested-list-content {
        font-size: 12px;
        padding-left: 27px;
    }
    .sidebar-mini form .caption input,
    .slider-form select[name*="link"],
    .slider-edit select[name*="link"] {
        width: 100%;
    }
    /*-- Video Management --*/
    .page-list {
        margin-top: 10px;
    }


    .video-form .icheckbox_square-blue,
    .ads-form .icheckbox_square-blue,
    .ad-edit .icheckbox_square-blue{
        float: left;
    }
    .video-form .page-list li,
    .ads-form .page-list li,
    .ad-edit .page-list li{
        float: none;
        margin-bottom: 10px;
        overflow: hidden;
        padding-right: 0;
        width: 100%;
    }

    .video-form label,
    .ads-form label,
    .ad-edit label{
        float: left;
        width: 80%;
        margin-left: 0;
        padding-left: 5px;
    }
}

@media all and (min-width: 320px) and (max-width: 640px) {
    .sidebar-mini form.slider-edit .caption {
        margin-top: 15px;
    }
    .sidebar-mini form .caption input,
    .slider-form select[name*="link"] {
        width: 100%;
    }
    .browse-btn {
        width: 100%;
    }
    .form-setting .logoUpload {
        margin-bottom: 15px;
    }
    .addguide {
        float: none !important;
        text-align: center;
        display: block;
    }
    .addguide .btn {
        float: none;
    }
    .dataTables_wrapper .table-responsive {
        border-right: none;
        overflow: auto;
    }
    .sidebar-mini .btn-group button.dropdown-toggle,
    .sidebar-mini .btn-group.addguide .btn-default {
        padding-left: 18px;
        padding-right: 18px;
    }
    .select-options {
        text-align: center;
    }
}

@media only screen and (max-width: 360px) {
    .form-setting .logoUpload #uploadLogo {
        margin: 0 0 10px 0;
        width: 100%;
    }
    .form-setting .logoUpload .btn.btn-file {
        width: 100%;
    }
}





/*new css for package */
#package-form, #myForm{
     background: transparent;
     padding:0px;
}
.package-fields{
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    line-height: normal;
}
/*use image as background */
.show-img-bg{
    background-size: cover;
    background-position: center center;
    height: 200px;
  }

  /*for package gallery*/
  #selectedFiles, #selectedFiles2{
        margin-top: 5px;
    }
  #selectedFiles img {
        max-width: 200px;
        max-height: 200px;
        float: left;
        margin-bottom:10px;
    }
/*use image as background for gallery*/
  .show-img-bg2{
    background-size: cover;
    background-position: center center;
    height: 150px;
    /*padding-bottom: 5px;*/
    /*width: 180px;*/
  }

  .margin-btm{
    margin-bottom: 10px;
  }
   .margin-btm2{
    margin-bottom: 27px;
  }

  .disable {
  pointer-events: none;
  opacity: 0.4;
}
.loading-icon{
  position: fixed;
  font-size: 50px;
  z-index: 100;
   top: 50%;
    left: 50%;
}



.display-none{
    display:none;
} 

.width-50{
    width: 50%;
}

.left-spacer{
    margin-left: 5%;
}

.mange-width{
    width: 95%;
}

/*hover package gallery image*/
.gallery-image:hover{
    opacity: 0.5;
}

/*.gallery-image input {
    position:absolute;
    display:none;
}

.gallery-image input.delete {
    top:0;
    left:79%;
}*/